{% extends "index.html"  %}

{% block content %}
	<h1>{{person.nom}}</h1>
{% endblock %}

	{% block nextcontent %}	
	
		<ul><span vocab="http://schema.org/" typeof="Person">
		<span property="name"><p><b>Nom:</b> {{person.nom}}</p></span>
		<span property="age"><p><b>Edat:</b> {{person.edat}}</p></span>
		<span property="gender"><p><b>Sexe:</b> {{person.sexe}}</p></span>
		<span property="nationality"><p><b>Localitat:</b> {{person.localitat}}</p></span>
		</span>
		</ul>
	

<p><a href="{{ request.META.HTTP_REFERER }}">Endarrera</a></p>
<p><a href="{{request.path}}edit">Editar</a></p>
	{% endblock %}
